In [1]:
# Import required libraries
import pandas as pd
import numpy as np

In [2]:
# Load dataset h)
file_path = r"C:\Users\shrey\OneDrive\Desktop\Projects\Sales-Analysis-Forecasting\dataset\Superstore.csv"
df = pd.read_csv(file_path, encoding='ISO-8859-1')

# Preview raw data
print("Raw data preview:")
display(df.head(3))

Raw data preview:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62

In [8]:
# Check initial missing values
print("Missing values BEFORE cleaning:")
print(df.isnull().sum())

# Handle missing values 
df['Product'].fillna('Unknown', inplace=True)  # Categorical
df['Revenue'].fillna(df['Revenue'].median(), inplace=True)  # Numeric
df['ProfitMargin'].fillna(df['ProfitMargin'].median(), inplace=True)  # Will now work

# Verify cleaning
print("\nMissing values AFTER cleaning:")
print(df.isnull().sum())

Missing values BEFORE cleaning:
Row ID            0
Order ID          0
OrderDate         0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Product           0
Product Name      0
Revenue           0
ProfitMargin      0
dtype: int64

Missing values AFTER cleaning:
Row ID            0
Order ID          0
OrderDate         0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Product           0
Product Name      0
Revenue           0
ProfitMargin      0
dtype: int64

In [9]:
# Simulate 90% forecast accuracy 
np.random.seed(42)
df['Forecast'] = df['Revenue'] * 1.1 * np.random.uniform(0.95, 1.05, len(df))

# Preview forecast
print("Forecast sample:")
display(df[['Revenue', 'Forecast']].head(5))

Forecast sample:

    Revenue     Forecast
0  261.9600   284.540798
1  731.9400   841.422541
2   14.6200    16.455093
3  957.5775  1063.727296
4   22.3680    23.758441

In [10]:
# Save cleaned data
clean_path = r"C:\Users\shrey\OneDrive\Desktop\Projects\Sales-Analysis-Forecasting\superstore_cleaned.csv"
df.to_csv(clean_path, index=False)

# Final validation
print("\nðŸ”¥ Final Data Summary ðŸ”¥")
print(f"Total Rows: {len(df)}")
print(f"Date Range: {df['OrderDate'].min()} to {df['OrderDate'].max()}")
print(f"Saved to: {clean_path}")

ðŸ”¥ Final Data Summary ðŸ”¥
Total Rows: 9800
Date Range: 01/01/2018 to 31/12/2017
Saved to: C:\Users\shrey\OneDrive\Desktop\Projects\Sales-Analysis-Forecasting\superstore_cleaned.csv